html,
body {
  font-family: 'Arial';
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#demo-header {
  box-sizing: border-box;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

#demo-header a {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

#demo-header a.active {
  text-decoration: underline;
}

#demo-header a:hover {
  text-decoration: underline;
}

#demo-content {
  height: 100%;
  width: 100%;
}

#demo-content section {
  font-size: 6vw;
  padding: 3rem;
  text-align: center;
}