html,
body {
  font-family: 'Arial';
}

#demo-nav {
  padding: 1rem;
  text-align: center;
  top: 0;
  width: 100%;
}

#demo-nav a {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

#demo-nav a.active {
  text-decoration: underline;
}

#demo-nav a:hover {
  text-decoration: underline;
}

#demo-content section div {
  font-size: 6vw;
  padding: 3rem;
  text-align: center;
}